/* Coding starts from Here */

* {
    margin: 0;
    padding: 0;
}



/* Main Register Component */

.Register_Main_Component {
    /* border: 1px solid blue; */
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Main Register Wrapper */

.Main_Register_Wrapper {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 1250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Register Container */

.Register_Container {
    border: 1.5px solid rgba(153, 205, 50, 0.895);
    border-radius: 10px;
    background-color: black;
    min-height: min-content;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 1.5rem;
}




/* Title */

.Register_t {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register_text {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    padding: .5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(199, 199, 199);
}





/* Register */

/* Inputs */

.Register_Inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.reg_input_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.username_input {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: .8rem;
    background-color: rgb(134, 134, 134);
    width: 70%;
}

.username_input::placeholder {
    color: black;
    font-size: .9rem;
    letter-spacing: 1px;
}

.username_text {
    color: rgba(255, 255, 255, 0.927);
    width: 72%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.reg_email_input {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: .8rem;
    background-color: rgb(134, 134, 134);
    width: 70%;
}

.reg_email_input::placeholder {
    color: black;
    font-size: .9rem;
    letter-spacing: 1px;
}

.reg_email_text {
    color: rgba(255, 255, 255, 0.927);
    width: 72%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.reg_password_input {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: .8rem;
    background-color: rgb(134, 134, 134);
    width: 70%;
}

.reg_password_input::placeholder {
    color: black;
    font-size: .9rem;
    letter-spacing: 1px;
}

.reg_password_text {
    width: 72%;
    color: rgba(255, 255, 255, 0.927);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: bold;
}




/* Submit */

.reg_submit_container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.Register_submit {
    border: none;
    border-radius: 5px;
    padding: .4rem .9rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
    color: rgb(199, 199, 199);
    background-color: rgb(37, 37, 37);
    transition: ease-in .15s;
}

.Register_submit:hover {
    background-color: green;
    cursor: pointer;
}




/* if Already Registered */

.logged_in {
    color: rgb(61, 179, 226);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}